@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Montserrat:wght@300&family=Open+Sans&family=Oswald&display=swap');
body{
    margin: 0;
    padding: 0;
}
@mixin layoutButton($width, $height, $background, $bgcolor, $color, $fontSize) {
    width: $width;
    height: $height;
    background: $background;
    background-color: $bgcolor;
    color: $color;
    font-size: $fontSize;
}
.header{
    background-image: url(./img/569961.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    &__nav{
        height: 100px;
        margin: 0px 40px 0px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__button-menu{
            @include layoutButton(100px, 50px, transparent, transparent, #fff, 1.4em);
            border: none;
        }
        &__button-users{
            display: flex;
            justify-content: space-around;
            width: 340px;
            &__sign{
                @include layoutButton(140px, 45px, transparent, transparent, #fff, 1.4em);
                border-radius: 50px 50px 50px 50px;
                border: 1px solid #fff;
            }
            &__login{
                @extend .header__nav__button-users__sign
            }
        }
    }
    &__logo{
        width: 90vw;
        margin: 100px auto 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 7.5em;
            color: #fff;
            font-family: Open Sans;
            line-height: 117px;
            letter-spacing: 0em;
            margin: 0;
        }
        p{
            font-family: Open Sans;
            font-size: 1.5em;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            color: #fff;
        }
    }
    &__search-form{
        display: flex;
        justify-content: center;
        position: relative;
        &__input{
            width: 650px;
            height: 65px;
            border: none;
            outline: none;
            border-radius: 50px;
            font-size: 1.3em;
            padding-left: 30px;
        }
        &__input::placeholder{
            font-size: 1.3em;
            color: #BDBDBDCC;
        }
        &__button{
            position: relative;
            background: transparent;
            border: none;
            img{
                position: absolute;
                top: 20px;
                left: -45px;
            }
        }
    }
    &__links{
        display: flex;
        justify-content: space-between;
        width: 660px;
        margin: 20px auto;
        a{
            text-decoration: none;
            color: #fff;
            font-family: Open Sans;
            font-size: 20px;
            font-weight: 400;
        }
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 40%;
        &__links{
            width: 120px;
            margin-left: 50px;
            align-items: center;
            @extend .header__footer;
            height: 60px;
        }
        p{
            font-family: Open Sans;
            font-size: 15px;
            font-weight: 400;
            color: #fff;
            margin-right: 50px;
            height: 30px;
            text-align: center;
        }
    }
}
@media screen and (min-device-width: 461px) and (max-device-width: 600px){
    .header{
        &__nav{
            height: 80px;
            margin: 0px 15px 0px 15px;
            &__button-menu{
                @include layoutButton(60px, 50px, transparent, transparent, #fff, 1.4em);
                border: none;
            }
            &__button-users{
                display: flex;
                justify-content: space-around;
                width: 250px;
                &__sign{
                    @include layoutButton(110px, 35px, transparent, transparent, #fff, 1.2em);
                }
            }
        }
        &__logo{
            margin: 110px auto 40px auto;
            h1{
                font-size: 5.3em;
            }
            p{
                font-size: 1.2em;
            }
        }
        &__search-form{
            &__input{
                width: 400px;
                height: 55px;
                font-size: 1.1em;
            }
            &__input::placeholder{
                font-size: 1.1em;
            }
            &__button{
                position: relative;
                img{
                    position: absolute;
                    top: 16px;
                    left: -40px;
                }
            }
        }
        &__links{
            width: 410px;
            margin: 20px auto;
            a{
                font-size: 0.8em;
            }
        }
        &__footer{
            height: 37%;
            &__links{
                margin-left: 30px;
                height: 60px;
            }
            p{
                margin-right: 30px;
            }
        }
    }
}